<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
      <th:block th:replace="~{/fragments/resources :: head(title='Album Fotografico')}"></th:block>
</head>
<body th:with="isEdit=${photo.id != null}">
<div class="container">
      <nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>

      <form th:action="@{${isEdit ? '/photos/edit/' + photo.id : '/photos/create'}}" th:object="${photo}"
            id="photo_form" method="POST" enctype="multipart/form-data" class="row">
            <div class="mb-3 col-6">
                  <label for="title" class="form-label">Titolo foto</label>
                  <input type="text" class="form-control" id="title" th:field="*{title}"
                         th:errorClass="is-invalid">
                  <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
                        <ul>
                              <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                        </ul>
                  </div>
            </div>
            <div class="mb-3">
                  <label for="description" class="form-label">Descrizione</label>
                  <textarea class="form-control" id="description" th:field="*{description}" rows="6"
                            th:errorClass="is-invalid"></textarea>
                  <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                        <ul>
                              <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                        </ul>
                  </div>
            </div>
            <div class="mb-3">
                  <label for="url" class="form-label">Url</label>
                  <input type="text" class="form-control" id="url" th:field="*{url}"
                         th:errorClass="is-invalid">
                  <div th:if="${#fields.hasErrors('url')}" class="invalid-feedback">
                        <ul>
                              <li th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
                        </ul>
                  </div>
            </div>

            <!--
            <div class="mb-3">
                  <label for="image" class="form-label bg-warning p-1 rounded">Immagine</label>
                  <input type="file" class="form-control" id="image" th:field="*{url}"
                        th:errorClass="is-invalid">
                  <div th:if="${#fields.hasErrors('url')}" class="invalid-feedback">
                        <ul>
                              <li th:each="err : ${#fields.errors('image')}" th:text="${err}"></li>
                        </ul>
                  </div>
            </div>
            -->
            <div class="mb-3">
                  <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch"
                               value="1" id="flexSwitchCheckChecked"
                               name="visible" th:checked="*{visible}">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Visibilità'</label>
                  </div>
            </div>

            <!-- checkbox categorie -->
            <div class="col-4">
                  <span>Categorie</span>
                  <div class="form-check mt-2" th:each="category : ${categories}">
                        <input class="form-check-input" type="checkbox" th:value="${category.id}" th:id="|category_${category.id}|"
                               th:field="*{categories}">
                        <label class="form-check-label" th:for="|category_${category.id}|" th:text="${category.name}">
                        </label>
                  </div>
            </div>

            <div class="mt-3">
                  <button th:if="${photo.id == null}" class="btn btn-success px-3" type="submit">Crea</button>
                  <button th:unless="${photo.id == null}" class="btn btn-warning px-3" type="submit">Modifica</button>
                  <a class="btn btn-primary px-3" th:href="@{/photos}">Indietro</a>
            </div>
      </form>
</div>
</body>
</html>