<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
      <th:block th:replace="~{/fragments/resources :: head(title='Album Fotografico')}"></th:block>
</head>
<body th:with="isEdit=${photo.id != null}">
<div class="container">
      <nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>

      <form th:action="@{${isEdit ? '/photos/edit/' + pizza.id : '/photos/create'}}" th:object="${photo}"
            id="photo_form" method="POST" enctype="multipart/form-data" class="row">
            <div class="mb-3 col-6">
                  <label for="title" class="form-label bg-warning p-1 rounded">Nome pizza</label>
                  <input type="text" class="form-control" id="title" th:field="*{title}"
                         th:errorClass="is-invalid">
                  <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
                        <ul>
                              <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                        </ul>
                  </div>
            </div>
            <div class="mb-3">
                  <label for="description" class="form-label bg-warning p-1 rounded">Descrizione</label>
                  <textarea class="form-control" id="description" th:field="*{description}" rows="6"
                            th:errorClass="is-invalid"></textarea>
                  <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                        <ul>
                              <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                        </ul>
                  </div>
            </div>
            <div class="mb-3 col-6">
                  <label for="url" class="form-label bg-warning p-1 rounded">Url</label>
                  <input type="text" class="form-control" id="url" th:field="*{url}"
                         th:errorClass="is-invalid">
                  <div th:if="${#fields.hasErrors('url')}" class="invalid-feedback">
                        <ul>
                              <li th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
                        </ul>
                  </div>
            </div>

            <!--
            <div class="mb-3">
                  <label for="image" class="form-label bg-warning p-1 rounded">Immagine</label>
                  <input type="file" class="form-control" id="image" th:field="*{url}"
                        th:errorClass="is-invalid">
                  <div th:if="${#fields.hasErrors('url')}" class="invalid-feedback">
                        <ul>
                              <li th:each="err : ${#fields.errors('image')}" th:text="${err}"></li>
                        </ul>
                  </div>
            </div>
            -->

            <!-- checkbox categorie -->
            <div class="card col-4">
                  <div class="card-body">
                        <span class="bg-warning p-1 rounded">Categorie</span>
                        <div class="form-check mt-2" th:each="ingredient : ${ingredientList}">
                              <input class="form-check-input" type="checkbox" th:value="${ingredient.id}" th:id="|ingredient_${ingredient.id}|"
                                     th:field="*{ingredients}">
                              <label class="form-check-label" th:for="|ingredient_${ingredient.id}|" th:text="${ingredient.name}">
                              </label>
                        </div>
                  </div>
            </div>

            <div class="mt-3">
                  <button class="btn btn-success px-3" type="submit">Crea</button>
                  <a class="btn btn-primary px-3" th:href="@{/pizza}">Back</a>
            </div>
      </form>
</div>
</body>
</html>