<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
      <th:block th:replace="~{/fragments/resources :: head(title='Album Fotografico')}"></th:block>
</head>
<body>
<div class="container">
      <nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>

      <div class="row d-flex justify-content-between p-3">
            <a th:href="@{/photos/create}" class="btn btn-success col-2">
                  Aggiungi foto
            </a>

            <form class="d-flex col-4" role="search">
                  <input class="form-control me-2" type="search" name="keyword" th:value="${search}" placeholder="Filtra foto per nome..." aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Cerca</button>
            </form>
      </div>

      <!-- alert -->
      <div th:if="${message != null}" class="d-flex justify-content-center">
            <div class="alert alert-dismissible fade show"
                 th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'">
                  <div th:text="${message.message}"></div>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      </div>

      <div class="row mt-1">
            <div class="col-2"></div>
            <ul th:if="${photos.size() > 0}" class="list-group list-group-flush">
                  <li th:each="photo : ${photos}" th:object="${photo}" class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                              <div th:text="*{title}" class="fw-bold"></div>
                              <div th:text="*{description}"></div>
                        </div>

                        <div>
                              <a th:href="@{/photos/{id}(id=${photo.id})}" class="btn btn-info">
                                    <i class="fa-solid fa-circle-info"></i>
                              </a>
                              <a th:href="@{/photos/edit/{id}(id=${photo.id})}" class="btn btn-warning">
                                    <i class="fa-solid fa-pen"></i>
                              </a>
                              <form th:action="@{|/photos/delete/*{id}|}" method="post" class="d-inline">
                                    <button class="btn btn-danger" type="submit">
                                          <i class="fa-solid fa-trash-can"></i>
                                    </button>
                              </form>
                        </div>
                  </li>
            </ul>

            <!-- in caso non ci siano foto -->
            <div class="alert alert-info" th:unless="${photos.size() > 0}">
                  Nessuna foto presente
            </div>
      </div>
</div>
</body>
</html>