<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
      <th:block th:replace="~{/fragments/resources :: head(title='Album Fotografico')}"></th:block>
</head>
<body>
<div class="container">
      <nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>

      <div class="row">
            <div th:object="${photo}" class="card" style="width: 18rem;">
                  <img th:src="*{url}" class="card-img-top" th:alt="*{title}">
                  <div class="card-body">
                        <h5 th:text="*{title}" class="card-title"></h5>
                        <p th:text="*{description}" class="card-text"></p>

                        <p th:if="*{visible}" class="card-text text-success" >Visibile</p>
                        <p th:unless="*{visible}" class="card-text text-danger">Non visibile</p>

                        <a th:href="@{/photos}" class="btn btn-primary">Indietro</a>
                  </div>
            </div>
      </div>
</div>
</body>
</html>