<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- current è dove sto navigando -->
<nav class="navbar navbar-expand-lg" th:fragment="navbar(current)">
      <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Album fotografico</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                        <!-- nei link appendo la classe active se l'area corrisponde a quella del link -->
                        <li class="nav-item">
                              <a class="nav-link" th:href="@{/photos}"
                                 th:classappend="${current == 'photos' ? 'active' : ''}">Foto</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" th:href="@{/categories}"
                                 th:classappend="${current == 'categories' ? 'active' : ''}">Categorie</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" th:href="@{/messages}"
                                 th:classappend="${current == 'messages' ? 'active' : ''}">Messaggi</a>
                        </li>
                  </ul>
            </div>
      </div>
</nav>
</body>
</html>